 <div class="form-2">
        <div >
            <i id="btn-exit" class="icon fa-power-off" title="Subir archivo"></i>
            <i id="btn-upload" class="icon fa-upload" title="Salir"></i>
        </div>
        <div class="icono">
            <img src="imagenes/Administracion.png">
        </div>
        <div class="letra">
            <a> <%= deptoDes %> </a><br>
            <a> <%= nombre %> <%= paterno %> <%= materno %> </a>
        </div>
        <div>
            <table id="grid-data" class="table">
                <thead>
                <th data-column-id="id">Nombre del archivo</th>
                <th data-column-id="date">Fecha</th>
                <th data-column-id="commands" colspan="2">Opciones</th>
                <tbody>
                </tbody>
                </thead>
            </table>
        </div>
</div>