 <div class="form-2">
        <div >
            <i class="icon fa-upload" title="Subir archivo"></i>
        </div>
        <div class="icono">
            <img src="imagenes/Administracion.png">
        </div>
        <div class="letra">
            <a> Dirección de Gestión de Servicio de Salud</a><br>
            <a> Karen Vázquez </a>
        </div>
        <div>
            <table class="table">
                <thead>
                <th>
                    Nombre del archivo
                </th>
                <th>
                    Fecha
                </th>
                <th colspan="2">
                    Opciones
                </th>
                <tbody>
                <td>
                    indicativo-salud.pdf
                </td>
                <td>
                    10 Marzo 2016
                </td>
                <td>
                    <i class="fa fa-download" title="Descargar"></i>
                </td>
                <td>
                    <i class="fa fa-eraser" title="Eliminar"></i>
                </td>
                </tbody>
                </thead>
            </table>
        </div>
</div>