.tt-menu,
.twitter-typeahead
{
    width: 100%;
}

.twitter-typeahead
{
    margin-top: 5px;
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
  background-color: #efefef;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.empty-message {
  padding: 5px 10px;
 text-align: center;
}

.modal-base {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
}

.modal-base img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.avatar {
    float: left;
    position: relative;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

.avatar-ss {
    width: 1.5em;
    height: 1.5em;
}

.avatar-sm {
    width: 3em;
    height: 3em;
}